/* CSS files add styling rules to your content */

body {
  background:#F5EDF3;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "courier header";
  font-style: none;
  color: #373fff;
}

#headerimage{
  margin
}

h2 {
  background-color:green;
  margin-top: 2em;
  margin-left:300px;
  margin-right:300px;
  padding:50px;
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

.button{
   width: 10px;
  height: 10px;
  margin-right:55px;
  margin-bottom:100px;
}
.button:hover {
  opacity:50%;
 box-shadow: 10px 10px 10px grey;
}

.image{
border: 15px solid white;
border-radius:5px;
margin-top:100px;
margin-left:50px;
margin-right:70px;
padding:10px;
}



