/* CSS files add styling rules to your content */

body {
  background:#F5EDF3;
  font-family: "Bookman Old Style";
  margin: 2em;
}

h1 {
  background-color:green;
  padding:200px;
  font-family: "Bookman Old Style";
  font-style: none;
  color: #373fff;
  font-size:60px;
}

*{
  margin-top:0;
  
}

#headerimage{
  margin-bottom:50px;
  margin-top:20px;
}



p{
  font-family: "Bookman Old Style";
  font-size: 20px;
}

h2 {
  background-color:green;
  margin-top: 2em;
  margin-left:300px;
  margin-right:300px;
  padding:70px;
  border-radius:12pc;
  font-family: "Bookman Old Style";
  font-size: 50px;}


.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

.button{
   width: 10px;
  height: 10px;
  margin-right:55px;
  margin-bottom:100px;

}
.button:hover {
  opacity:50%;
 box-shadow: 10px 10px 10px grey;
 
}

.button2{
   width: 10px;
  height: 10px;
  margin-right:155px;
  margin-bottom:100px;
}

.button2:hover {
  opacity:50%;
 box-shadow: 10px 10px 10px grey;
 
}

.button3{
   width: 10px;
  height: 10px;
  margin-right:90px;
  margin-bottom:100px;
}

.button3:hover {
  opacity:50%;
 box-shadow: 10px 10px 10px grey;
 
}


.image{
border: 15px solid white;
border-radius:5px;
margin-top:100px;
margin-left:50px;
margin-right:70px;
padding:10px;
}




