/* CSS files add styling rules to your content */

body {
  background:#F5EDF3;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: "courier header";
  font-style: none;
  color: #373fff;
}

h2 {
  margin-top: 2em; 
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

.button:hover {      background-color: #008CBA;      color: white;  }


.image{
border: 12px solid white;
border-radius:5px;
margin-top:90px;
margin-left:50px;
margin-right:70px;
padding:10px;
}



